---
import Layout from '../layouts/Layout.astro';
import Inicio from '../components/Inicio.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Study from '../components/Study.astro';
---

<Layout title="nicodev">
	<main>
		<Inicio/>
		<About/>
		<Experience/>
		<Study/>
	</main>
</Layout>

<style is:global>
	.fade{
		animation: fade linear both;
		animation-timeline: view();
		animation-range: entry 15% cover 25%;

		&:hover{
			.subtitulo svg{
				transform: scale(1.1) translateX(1%);
			}
		}
	}

	.subtitulo{
		display: flex;
		align-items: center;
		svg{
			margin-right: 10px;
			transition-duration: 0.5s;
		}
	}

	.hand {
		animation: greeting 1s infinite alternate;
		animation-play-state: paused;
	}
	
	@keyframes fade {
		from{
			opacity: 0%;
			transform: translateY(30px);
		}

		to{
			opacity: 100%;
		}
	}
</style>
