---
import Subtitle from "./sections/Subtitle.astro";
import ExperienceSymbol from "./sections/ExperienceSymbol.astro";
import Element from "./sections/Element.astro";
---

<section id="exp" class="fade">
    <Subtitle text="Experiencia" section="exp" value="subtitle">
        <ExperienceSymbol/>
    </Subtitle>
    <Element item="ob1" section="exp">
        <Fragment slot="h4">
            <a href="https://www.mercadolibre.com.co/" target="_blank" rel="noopener"
            >Mercado Libre</a> - 2024 / Actualmente
        </Fragment>
        <Fragment slot="h5">
            Desarrollador de Software.
        </Fragment>
        <Fragment slot="p">
            Hago parte del equipo de Checkout-On en donde desarrollamos y mantenemos diferentes aplicaciones para mejorar constantemente la expriencia de compra de los usuarios.
        </Fragment>
    </Element>
    <Element item="ob2" section="exp">
        <Fragment slot="h4">
            <a href="https://www.giitic.com/" target="_blank" rel="noopener"
            >Giitic SAS</a> - 2022 / 2024
        </Fragment>
        <Fragment slot="h5">
            Desarrollador Junior.
        </Fragment>
        <Fragment slot="p">
            Desarrollo y mantengo el código de los diferentes módulos de la empresa, los
            cuales son usados por variedad de clientes como <strong>domicilios.com, Adama, Ripley, entre otros.</strong>
        </Fragment>
    </Element>
</section>

<style>
    #exp{
        padding: 20px 25%;
    }
</style>