---
import Config from "../components/sections/Config.astro";
---

<div class="inicio">
  <Config/>
  <section class="elin secfoto">
    <img
      class="foto"
      src="src/resources/img/mi-foto.png"
      alt="mi-foto.jpg"
      title="Mi foto"
    />
  </section>
  <section class="elin">
    <h1 data-section="main" data-value="hi">
      Hola <div class="hand">👋</div><div>,</div> soy Nicolas :)
    </h1>
    <h3 data-section="main" data-value="profile">
      Desarrollador Web Fullstack. &#x1F1E8;&#x1F1F4;
    </h3>
    <p data-section="main" data-value="skills">
      Con habilidades en tecnologías como HTML, CSS, JS, JAVA, SQL y GIT.
    </p>
  </section>
</div>

<script>
  import {changeLanguage} from '../app.js';
  document.getElementById("select-language")?.addEventListener("change", (event) => {
    let target = event.target as HTMLSelectElement;
    let language = target.value;
    changeLanguage(language);
  });
</script>

<style>
  .inicio {
    display: flex;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    flex-wrap: wrap;
    margin: 0 50px;
    padding: 40px 0;
  }

  .fade {
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 15% cover 25%;
  }

  .elin {
    margin-block: auto;
    margin-inline: 20px;

    :first-child {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
    }

    :hover {
      .hand {
        cursor: default;
        animation-play-state: running;
      }
    }
  }

  .secfoto {
    justify-content: right;
  }

  .foto {
    width: 200px;
    height: auto;
    border-radius: 50%;

    filter: drop-shadow(0 0 10px currentColor);
  }

  @keyframes greeting {
    to {
      transform: translateX(5px) translateY(-7px) rotate(30deg);
    }
  }
</style>
