---
import Subtitle from "./sections/Subtitle.astro";
import ProjectSymbol from "./sections/ProjectSymbol.astro";
---


<section id="project" class="fade">
    <Subtitle text="Proyectos" section="projects" value="subtitle">
        <ProjectSymbol/>
    </Subtitle>
    <div data-section="projects" data-value="content">
        En proceso ⚙️...
    </div>
</section>

<style>
    #project{
        padding: 20px 15%;
    }
</style>